<h1>Editing Map</h1>

<%= render 'form' %>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Back to Maps', user_maps_path %></li>
      <li><%= link_to 'Show Map', user_map_path %></li>
    </ul>
  </div>
</div>
