<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mapping_method.name %>
</p>

<%= link_to 'Edit', edit_mapping_method_path(@mapping_method) %> |
<%= link_to 'Back', mapping_methods_path %>
