<div class="row">
  <div class="col-md-4 col-md-offset-2"><img src="http://aerialmaps.info/images/logo.png"></img></div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <p style="background: #FFFFFF; border-radius:10px">
      <h2>Welcome to AerialMaps.info</h2><br>
      We provide a simple solution to processessing and displaying high megapixel aerial maps from drone imagery.
      <br>
      <br>
      <strong><%= link_to 'Login', login_url %></strong> or <strong><%= link_to 'Visit the Gallery', gallery_url %></strong>
    </p>
  </div>
</div>