<h1 style="text-align: center">Choose a Social network to Login</h1>


<ul class="row" id="photos-list">
    <li class="col-xs-6"><%= link_to image_tag("github-256.png", :border => 0, :alt => 'GitHub', :title => 'GitHub', :style => 'background-color: #4183C4; border-radius: 10px;'), 'auth/github' %></li>
    <li class="col-xs-6"><%= link_to image_tag("googleplus-256.png", :border => 0, :alt => 'GitHub', :title => 'GitHub', :style => 'background-color: #D14836; border-radius: 10px;'), 'auth/google' %></li>
    <li class="col-xs-6"><%= link_to image_tag("facebook-256.png", :border => 0, :alt => 'GitHub', :title => 'GitHub', :style => 'background-color: #3B5998; border-radius: 10px;'), 'auth/facebook' %></li>
    <li class="col-xs-6"><%= link_to image_tag("twitter-256.png", :border => 0, :alt => 'GitHub', :title => 'GitHub', :style => 'background-color: #00ACED; border-radius: 10px;'), 'auth/twitter' %></li>
</ul>

