<p id="notice"><%= notice %></p>

<div class="page-header">
<h1>Supported Cameras</h1>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><h3><%= camera.name %></h3></td>
        <td><h3><small><% if camera.lens_profile %>Lens Correction Supported<% end %></small></h3>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Back', :back %></li>
    </ul>
  </div>
</div>