<div class="col-xs-2">
  <div class="thumbnail">
    <%= link_to image_tag(photo.image.thumb('180x180#').url, alt: photo.image_name, class: 'img-thumbnail', style: 'padding:0'),
                photo.image.remote_url, target: '_blank' %>
    <div class="caption" style="text-align:center;">
      <% if photo.image_name.present? %>
        <p><h4><%= photo.image_name %></h4></p>
      <% end %>
      <p><%= link_to 'Destroy', user_map_photo_url(photo.map.user.id,photo.map.id,photo.id), method: :delete, class: 'btn btn-danger', role: 'button' , data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
     
</div>
