<div class="page-header">
<h1>Public Gallery</h1>
</div>

<div class="row" id="photos-list">
  <% @maps.each do |map| %>
    <div  class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(map.thumbnail_uid, alt:map.title, class: 'img-thumbnail', style:"background:#000;"), map.image_uid, target: '_blank' %>
        <div class="caption">
          <h3 style="margin:0;"><%= link_to("#{map.title}", gallery_map_url(map.id)) %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Back', :back %></li>
    </ul>
  </div>
</div>


