<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= "#{current_user.name}'s Maps" %></h1>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <% if map.checkProcess == true %>
        <tr class="success">
      <% else %>
        <% if map.queued == true %>
	  <tr class="warning">
        <% else %>
	  <tr>
        <% end %>
      <% end %>
        <td></td>
        <td><h3 style="margin-top:5px; margin-bottom:5px;"><%= "#{map.title}" %></h3></td>
        <td>
        <% if map.checkProcess == true %>
          <h3 style="margin-top:5px; margin-bottom:5px;"><small>Generating Map</small></h3>
        <% end %>

        <% if map.queued == true %>
          <h3 style="margin-top:5px; margin-bottom:5px;"><small>Map Queued</small></h3>
        <% end %>

        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <%= link_to 'Show', user_map_url(map.user.id,map), class: "btn btn-info" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
    </ul>
  </div>
</div>


