@import "bootstrap";
@import 'bootstrap/theme';
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";

#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 272px;
    max-height: 272px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}

.progress-wrapper {
  display: none;
}

#dropzone {
  background: #EEEEFF;
  width: 500px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  height: 200px;
  line-height: 200px;
  border: 5px dashed #0087F7;
  @include border-radius(10px);
}

#dropzone.hover {
  background: lawngreen;
  border: 10px solid darken(lawngreen, 10%);
}

#dropzone.fade {
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
  @include opacity(1);
}

#footer {
  margin-top: 60px;
}
